body {
  background-color: blue;
}

h1 {
  color: green;
  padding: 80px 0;
}


//zadanie 2
// git ingnore - plik node_modules powinien być dodany do tego pliku aby nie zajmował niepotrzebnie miejsca. W repozytorium mają być tylko najpotrzebniejsze pliki.
